@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Playwrite+NZ+Basic:wght@100..400&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
}

body {
    font-family: "Playwrite NZ Basic", cursive;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main {
    width: 500px;
    height: 500px;
    flex-direction: column;
    border: 1px solid black;
    border-radius:  40px;
}

img {
    width: 100%;
    overflow: hidden;
    border-radius: 40px 40px 0 0px;
}

p {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    color: purple;
    font-size: 20px;
}

.btn {
    background-color: white;
    font-size: 20px;
    border: 1px solid palevioletred;
    border-radius: 40px;
    font-family: "Playwrite NZ Basic", cursive;
    cursor: pointer;
    transition: 0.5s;
}
.btn-div {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}
/* hide proposal screen at start */
.proposal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: white;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  opacity: 0;
  pointer-events: none;
  transition: opacity 0.8s ease;
}

.proposal img {
  width: 80%;
  max-width: 600px;
  border-radius: 30px;
}

.proposal h1 {
  margin-top: 30px;
  font-size: 60px;
  color: pink;
}

/* fade out main */
.hide {
  opacity: 0;
  transition: opacity 0.6s ease;
}

/* show proposal */
.show {
  opacity: 1;
  pointer-events: auto;
}
